@import url('https://rsms.me/inter/inter-ui.css');

::selection {
    background: #2D2F36;
}

::-webkit-selection {
    background: #2D2F36;
}

::-moz-selection {
    background: #2D2F36;
}

body {
    background: white;
    font-family: 'Inter UI', sans-serif;
    margin: 0;
    padding: 20px;
}

.page-login {
    background: #e2e2e5;
    display: flex;
    flex-direction: column;
    height: calc(100% - 40px);
    position: absolute;
    place-content: center;
    width: calc(100% - 40px);
}

@media (max-width: 767px) {
    .page-login {
        height: auto;
        margin-bottom: 20px;
        padding-bottom: 20px;
    }
}

.container-login {
    display: flex;
    height: 320px;
    margin: 0 auto;
    width: 640px;
}

@media (max-width: 767px) {
    .container-login {
        flex-direction: column;
        height: 630px;
        width: 320px;
    }
}

.left {
    background: white;
    height: calc(100% - 40px);
    top: 20px;
    position: relative;
    width: 50%;
}

@media (max-width: 767px) {
    .left {
        height: 100%;
        left: 20px;
        width: calc(100% - 40px);
        max-height: 270px;
    }
}

.login {
    font-size: 50px;
    font-weight: 900;
    margin: 50px 40px 40px;
}

.eula {
    color: #999;
    font-size: 14px;
    line-height: 1.5;
    margin: 40px;
}

.right {
    background: #474A59;
    box-shadow: 0px 0px 40px 16px rgba(0, 0, 0, 0.22);
    color: #F1F1F2;
    position: relative;
    width: 50%;
}

@media (max-width: 767px) {
    .right {
        flex-shrink: 0;
        height: 100%;
        width: 100%;
        max-height: 350px;
    }
}

svg {
    position: absolute;
    width: 320px;
}

path {
    fill: none;
    stroke: url(#linearGradient);;
    stroke-width: 4;
    stroke-dasharray: 240 1386;
}

.form {
    margin: 40px;
    position: absolute;
}

label {
    color: #c2c2c5;
    display: block;
    font-size: 14px;
    height: 16px;
    margin-top: 20px;
    margin-bottom: 5px;
}

input {
    background: transparent;
    border: 0;
    color: #f2f2f2;
    font-size: 20px;
    height: 30px;
    line-height: 30px;
    outline: none !important;
    width: 100%;
}

input::-moz-focus-inner {
    border: 0;
}

#submit {
    color: #707075;
    margin-top: 40px;
    transition: color 300ms;
}

#submit:focus {
    color: #f2f2f2;
}

#submit:active {
    color: #d0d0d2;
}


/* Below here are CSS styles that I made */
.page {
    background: #e2e2e5;
    height: calc(100% - 40px);
    position: absolute;
    place-content: center;
    width: calc(100% - 40px);
}

.container {
    height: calc(100% - 40px);;
    margin: 0 auto;
    width: calc(100% - 40px);
    padding: 12px 0;
}

header {
    border-bottom: 4px solid black;
    padding-bottom: 10px;
    margin: 10px 0px 10px 0px;
}

nav {
    //border: 1px dashed red;

}

main {
    //border: 1px solid green;
    margin: 10px 0px 10px 0px;
}

footer {
    background-color: #474A59;
    min-height: 40px;
    margin: 10px 0px 10px 0px;
}

header #logo-img img {
    display: inline-block;
    height: 50px;
    width: 50px;
    float: left;
}

header #logo-text {
    display: inline-block;
    font-size: 40px;
    font-weight: 900;
    font-family: 'Inter UI', sans-serif;
    margin: 0 0 0 8px;
    color: white;
}

nav {
    display: inline-block;
    float: right;
}

nav ul {
    margin-top: 8px;
}

nav ul li {
    display: inline-block;
    text-decoration: none;
    color: #c2c2c5;
    /*background-color: #474A59;*/
    font-family: 'Inter UI', sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding: 12px;
}

.clear {
    float: none;
}

table {
    width: 100%;
}

footer .icon-credits {
    font-size: 10px;
    font-family: 'Inter UI', sans-serif;
    text-align: center;
}
